[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Credits
Name[en_GB]=Credits
Icon=/usr/share/kano-apps/icons/credits.png
Exec=/usr/bin/kano-launcher "urxvt -bg rgba:0000/0000/0000/0000 -title 'Credits' -e /usr/bin/kano-credits"
Comment[en_GB]=See who created the software
Categories=Extras;
StartupNotify=true
